.root {
  min-height: 100vh;

  .loginTitle {
    margin-top: 3.2rem;
  }

  .formCard {
    width: 100%;
    max-width: 51rem;
  }

  .loginForm {
    width: 100%;
    max-width: 334px;
  }

  .loginButton {
    margin-top: 1rem;
    padding: 0 3rem;
  }

  .infoText {
    margin-top: 1rem;
  }
}
