.ant-layout-header {
  padding: 0;
  background: #fff;
}

.ant-input-search-large .ant-input-search-button {
  width: 15rem;
}

.ant-menu-item {
  color: #1390e5;
}

.ant-pagination.ant-pagination-simple .ant-pagination-simple-pager {
  display: none;
}
