.root {
  min-height: 100vh;

  .formCard {
    width: 100%;
    max-width: 51rem;
  }

  .loginItemsWrapper {
    padding: 1.6rem 6.4rem 3.6rem;
  }

  .loginForm {
    width: 100%;
    max-width: 334px;
  }

  .loginButton {
    width: 100%;
    max-width: 13.6rem;
    margin-top: 2rem;
  }
}
